.header {
	transition:
		margin-left 0.3s,
		width 0.3s;
}

.open {
	margin-left: 240px;
	width: calc(100% - 240px);
}

.right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
